<div class="card bg-light">
  <div class="card-body">
    <h3><%= link_to post.title, post, class:'text-dark' %></h3>
    <div class="text-muted mb-3">
      <em>Autor: <%= post.author %> ( <%= l post.created_at, format: :long %> )</em>
    </div>
    <p>
      <%= post.body.truncate(400) %>
    </p>
    <p class="text-muted"><%= pluralize(post.comments.count, 'Comentário')%> </p>
  </div>
</div>
