<div class="card bg-light mb-3">
  <div class="card-body post-show">
 
    <h3><%= link_to post.title, post, class:'text-dark' %></h3>
    <div class="text-muted mb-3">
    <%= image_tag post.image, class: 'img-fluid mb-3' %>
      <em>Autor: <%= post.author %> ( <%= l post.created_at, format: :long %> )</em>
    </div>
    <p>
      <%= post.body.truncate(400).gsub("\n", "<br>").html_safe %>
    </p>
    <p class="text-muted"><%= pluralize(post.comments.count, 'Comentário')%> </p>
    <%= link_to  "Ler Artigo", post, class:"btn btn-primary" %>
    <% if signed_in? %>
      <%= link_to  "Editar Artigo", edit_post_path(post), class:"btn btn-secondary" %>
      <%= link_to  "Apagar Artigo", post, method: :delete, class:"btn btn-danger",
        data: { confirm: 'Deseja apagar este artigo?'}%>
    <% end %>
  </div>
</div>