<div class="shadow-sm p-3 mb-5 bg-white rounded">
  <h2 class="text-dark text-center"><%= @post.title %></h2>
  <hr>
  <p class="p-3"><%= @post.body %></p>
  <small>
      <p class="text-muted text-right"><em><strong>Por: <%= @post.author %> </strong><br>
      <%= l @post.created_at, format: :long %></em></p>
  </small>
<%= link_to 'Voltar', posts_path, class: 'btn btn-primary mt-3' %>
</div>

