<div class="text-center form-signin">
  <h2 class="h3 mb-3 font-weight-normal">Cadastrar</h2>
  <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
    <%= render "devise/shared/error_messages", resource: resource %>

    <%= f.label :name, class:'sr-only' %>
    <%= f.text_field :name, class:'form-control', autofocus: true, placeholder: "Nome" %>

    <%= f.label :email, class:'sr-only' %>
    <%= f.email_field :email, class:'form-control', autofocus: true, autocomplete: "email", placeholder: "Email" %>

    <%= f.label :password, class:'sr-only' %>
    <%= f.password_field :password, type:'password', class:'form-control', autocomplete: "new-password", placeholder: "Password" %>
    <%= f.label :password_confirmation, class:'sr-only' %>
    <%= f.password_field :password_confirmation, type:'password', class:'form-control', autocomplete: "new-password", placeholder: "Confimastion Password" %>
    <% if @minimum_password_length %>
      <em>(<%= @minimum_password_length %> characters minimum)</em>
    <% end %>
    <div class="actions">
      <%= f.submit "Sign up", class:'btn btn-lg btn-primary btn-block mb-3' %>
    </div>
  <% end %>
  <%= render "users/shared/links" %>
</div>
